tests/

# Fichiers de log
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Répertoire de l'environnement d'exécution
node_modules/

# Répertoires de build
build/
dist/

# Fichiers de production
.env.local
.env.development.local
.env.test.local
.env.production.local

# Fichiers de déploiement
.deploy*/

# Fichiers de configuration IDE
.vscode/
.idea/
*.sublime-workspace

# Fichiers de package
package-lock.json
yarn.lock

# Fichiers macOS
.DS_Store

# Fichiers Windows
Thumbs.db
ehthumbs.db

# Fichiers de cache
npm-cache/
yarn-cache/
